/*section de productcontainer
parte superior*/
.products_section {
    background-color: #f5f5f5; /* Color de fondo similar al de Mercado Libre */
    width: 100%; /* Ancho completo del contenedor */
    padding: 20px; /* Espaciado interior */
    border-radius: 8px; /* Bordes redondeados */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Sombra suave */
}

.products_title {
    font-size: 24px; /* Tamaño de fuente más grande */
    margin-bottom: 20px; /* Espaciado inferior adicional */
    color: #333; /* Color de texto oscuro */
}

.products_container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px; /* Espacio entre los productos */
    justify-content: center; /* Centrar los productos horizontalmente */
}